section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.side-nav-container {
    height: 100vh;
    width: 25%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin-left: 20px;

}

.main-chat-container {
    height: 100vh;
    width: 45%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
   
}

.thread-container {
    height: 100vh;
    width: 30%;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin-right: 20px;
}