<app-header></app-header>

<mat-drawer-container class="mat-drawer-container" autosize>
  <div class="workspace-btn-wrapper">
    <button
      class="workspace-btn"
      (click)="drawerSidenav.toggle()"
      type="button"
      mat-button
    >
      <mat-icon>dock_to_right</mat-icon>
      <p>Workspace-Menü schließen</p>
    </button>
  </div>
  <mat-drawer
    #drawerSidenav
    class="side-nav-container"
    [opened]="true"
    mode="side"
  >
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <section>
    <div class="main-chat-container">
      @if (router.url.startsWith('/general-view/single-message/' )) {

      <app-single-message></app-single-message>
      } @else if (router.url.startsWith('/general-view/single-channel/')) {
      <app-single-channel></app-single-channel>
      } @else {
      <p>Klicken Sie auf einen Channel oder einen User in der Sidebar um einen Chat zu starten</p>
      }

    </div>
    @if(router.url.startsWith ('/general-view/single-channel/') ) {
    <div class="thread-container">
      <app-thread (toggleThread)="onToggleThread($event)"></app-thread>
     
    </div>
    }
  </section>
</mat-drawer-container>
