.general-view {
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  height: 100vh;
}


.mat-drawer-container {
  // height: 85vh;
  background-color: #eceefe;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 20px;
  gap: 20px;
}

.side-nav-container {
  // height: 100vh;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-left: 20px;
}

.main-chat-container {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
}

.thread-container {
  width: 70%;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-right: 20px;
}

.workspace-btn-wrapper {
  height: 306px;
  position: absolute;
  left: 0px;
  top: 301px;

  .workspace-btn {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0px 30px 30px 0px;
    padding: 23px 14px 23px 14px;
    background-color: white;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);

    &:hover {
      color: #535af1;
    }

    >p {
      font-family: "Nunito";
      font-size: 18px;
      font-weight: 500;
      text-orientation: mixed;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }
}

.mobile-btn-wrapper {
  display: none;
  position: sticky;
  left: 530px;
  bottom: 150px;
  width: 85px;
  height: 85px;

  >img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

.hideSideNav {
  mat-drawer {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-btn-wrapper {
    display: block;
  }

  .workspace-btn-wrapper {
    display: none;
  }

  mat-drawer {
    width: 80vw; // später auf 95 setzten
  }

/* general-view.component.css */

// .general-view.full-width {
//   width: 100vw;
//   overflow: hidden;
// }

.hideSideNav .side-nav-container {
  display: none;
}

// .general-view .main-chat-container,
// .general-view section {
//   width: 100vw;
//   height: 100vh;
// }

// .general-view {
//   display: flex;
//   flex-direction: column;
// }

// .mat-drawer-container {
//   display: flex;
//   flex-grow: 1;
// }

// .full-view .main-chat-container,
// .full-view section {
//   width: 100vw;
//   height: 100vh;
// }





}