<header>
  <div class="header-logo">
    <img src="./assets/img/logo-dabubble.svg" alt="logo" />
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Code learning durchsuchen</mat-label>
    <input type="search" matInput />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  


  <div class="header-aktiv-user">
    <p>User Name</p>
    <img src="./assets/img/avatar1.svg" class="user-avatar" />
    <img src="./assets/img/arrow-down.svg" class="arrow-down-icon" />
  </div>
</header>
