::ng-deep .mat-mdc-menu-panel {
border-radius: 30px 0px 30px 30px !important;
width: 282px;
height: 181px;
padding: 25px !important;
margin-top: 50px;
}

::ng-deep .mat-mdc-menu-item-text {
  font-family: "Nunito" !important;
  color: black;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 32.74px !important;
  text-align: center;
  border-radius: 30px 0px 30px 30px;
  &:hover {
    color: #535af1;
  }
}

::ng-deep .mat-mdc-menu-item {
  &:hover {
    background-color: #eceefe !important;
    border-radius: 30px;
  }
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-logo {
  background-color: #eceefe;
  width: 27%;
  > img {
    height: 70px;
    width: 242px;
    padding-left: 34px;
    padding-top: 15px;
  }
}
.search-container {
  width: 40%;
  height: 70px;
  background-color: white;
  border-radius: 42px;
  input {
    width: 100%;
    padding: 17px 45px 17px 45px;
    font-size: 24px;
    border: 0;
    outline: none;
    background: url(./../../assets/img/search-icon.svg) no-repeat right 16px;
  }
}

.header-aktiv-user {
  width: 32%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  cursor: pointer;
  &:hover {
    color: #535af1;
  }
  > p {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: left;
  }
  .user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

// .menu-dropdown {
//   position: absolute;
//   top: -980px;
//   left: -601px;

// }
