::ng-deep .mat-mdc-menu-panel {
  border-radius: 30px 0px 30px 30px !important;
  width: 282px;
  height: 181px;
  padding: 25px !important;
  margin-top: 50px;
}

::ng-deep .mat-mdc-menu-item-text {
  font-family: "Nunito" !important;
  color: black;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 32.74px !important;
  text-align: center;
  border-radius: 30px 0px 30px 30px;
  &:hover {
    color: #535af1;
  }
}

::ng-deep .mat-mdc-menu-item {
  &:hover {
    background-color: #eceefe !important;
    border-radius: 30px;
  }
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-logo {
  background-color: #eceefe;
  width: 27%;
  > img {
    height: 70px;
    width: 242px;
    padding-left: 34px;
    padding-top: 15px;
  }
}
.search-container {
  width: 40%;
  height: 70px;
  background-color: white;
  border-radius: 42px;
  input {
    width: 100%;
    padding: 17px 45px 17px 45px;
    font-size: 24px;
    border: 0;
    outline: none;
    background-image: url(./../../assets/img/search-icon.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-color: transparent;
  }
}

.header-aktiv-user {
  width: 32%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  cursor: pointer;
  &:hover {
    color: #535af1;
  }
  > p {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: left;
  }
  .user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

  .mobile-header {
    display: flex;
    margin-left: 25px;
    .mobile-btn-arrow-back {
      display: flex;
      gap: 8px;
    }
  }

@media only screen and (max-width: 1175px) {
  .header-aktiv-user {
    > p {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
@media only screen and (max-width: 1005px) {
  .search-container {
    > input {
      font-size: 20px;
      padding: 21px 17px;
    }
  }
}

@media only screen and (max-width: 1005px) {
  .header-logo {
    > img {
      width: 200px;
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  // .mobile-header {
  //   display: flex;
  //   margin-left: 25px;
  //   .mobile-btn-arrow-back {
  //     display: flex;
  //     gap: 8px;
  //   }
  // }
  // .header-logo {
  //   display: none;
  // }

  .header-aktiv-user {
    > p {
      display: none;
    }
  }
  .search-container {
    display: none;
  }

  // mat-icon {
  //   display: none;
  // }
}
