<header>
  <div class="header-logo">
    <img src="./assets/img/logo-dabubble.svg" alt="logo" />
  </div>

  <div class="search-container">
    <input type="search" placeholder="Code learning durchsuchen"  (keyup)="searchService.search()" [(ngModel)]="searchService.searchText" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (result of searchService.searchResults; track result) {
        <mat-option [value]="result.name">{{result.name}}</mat-option>
      }
    </mat-autocomplete>
  </div>

  <div class="header-aktiv-user">
    @if (authService.currentUser) {
      <p>{{ authService.currentUser.displayName }}</p>
    } @else {
      <p>User Name</p>
    }

    @if (authService.currentUser?.isAnonymous) {
      <img src="./assets/img/avatar1.svg" class="user-avatar" />
    }
    @else if (authService.currentUser) {
      <img src="{{ authService.currentUser.photoURL }}" class="user-avatar">
    } @else {
      <img src="./assets/img/avatar1.svg" class="user-avatar" />
    }
    <mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>

    <mat-menu #menu="matMenu" class="menu-dropdown">
      <button mat-menu-item (click)="showUserProfile()">Profil</button>
      <button mat-menu-item (click)="authService.logout()">Log out</button>
    </mat-menu>
  </div>
</header>
