<section>
  <div class="dialog-header">
    <div class="channel-name-container">
      <mat-icon>tag</mat-icon>
      <p>Entwicklerteam</p>
    </div>
    <span class="material-symbols-outlined" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <div class="dialog-content">
    <div class="channel-name-wrapper">
      <div class="first-line">
        <p>Channel-Name</p>
        <span>Bearbeiten</span>

        <!-- onclick wird ein input angezeigt & "speichern BTN"+ chanel name update funktion -->
      </div>
      <p>
        # Entwicklerteam
        <!-- {{channel.name}} -->
      </p>
    </div>

    <div class="channel-data">
      <div class="first-line">
        <p>Beschreibung</p>
        <span>Bearbeiten</span>

        <!-- onclick wird ein input angezeigt & "speichern BTN"+ chanel description update funktion -->
      </div>
      <span>
        Dieser Channel ist für alles!
        <!-- {{channel.description}} -->
      </span>
      <hr />
      <div class="owner-wrapper">
        <p>Erstellt von</p>
        <span>
          Noah
          <!-- {{ channel.owner }} -->
        </span>
      </div>
    </div>
  </div>
<div class="btn-wrapper">

    <button class="button-primary">Channel verlassen</button>
    <!-- onclick wird owner aus dem Arrey entfernt -->
</div>
</section>
