<section>
  <div class="dialog-header">
    <div class="channel-name-container">
      <mat-icon>tag</mat-icon>
      <p>
        @if(!editName) {
        {{ channel?.name }}
        } @else {
       # {{ newChannelName }}
        }
      </p>
    </div>
    <span class="material-symbols-outlined" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <div class="dialog-content">
    @if (!isChannelNameHidden) {
    <div class="channel-name-wrapper">
      <div class="first-line">
        <p>Channel-Name</p>
        <span (click)="updateChannelName()">Bearbeiten</span>
      </div>
      <p>
        @if(!editName) {
        # {{ channel?.name }}
        } @else {
        # {{ newChannelName }}}
      </p>
    </div>
    } @if (isChannelNameHidden) {
    <div class="channel-name-wrapper">
      <div class="first-line">
        <p>Channel-Name</p>
        <span (click)="changeChannelName(channel, newChannelName)">Speichern</span>
      </div>
      <input type="text" [(ngModel)]="newChannelName" name="newChannelName"/>
    </div>
    }
  </div>
  <div class="channel-data">
    @if (!isChannelDescriptionHidden) {

    <div class="first-line">
      <p>Beschreibung</p>
      <span (click)="updateChannelDescription()">Bearbeiten</span>
    </div>
    <span>

      @if(!edit) {
          {{ channel?.description }}
        } @else {
         {{ newChannelDescription }}
        }
    </span>
    } @if (isChannelDescriptionHidden) {
    <div class="first-line">
      <p>Beschreibung</p>
      <span (click)="changeChannelDescription(channel, newChannelDescription)">Speichern</span>
    </div>
    <input class="change-description-input" type="text" [(ngModel)]="newChannelDescription" name="newChannelDescription"/>
    }
    <hr />
    <div class="owner-wrapper">
      <p>Erstellt von</p>
      <span>
        {{ channel?.owner }}
      </span>
    </div>
  </div>

  <div class="btn-wrapper">
    <button class="button-primary" (click)="leaveChannel(channelId, currentUser)">Channel verlassen</button>
 
  </div>
</section>
