<section>
  <div class="dialog-header">
    <h2 mat-dialog-title>Leute hinzufügen</h2>
    <span class="material-symbols-outlined" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <div class="dialog-content">
    <mat-checkbox [(ngModel)]="checkedAll" (change)="addAllMembersToChannel()">
      <p>Alle Mitglieder von {{ channelName }} hinzufügen</p>
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="checkedSelect" >
      <p>Bestimmte Leute hinzufügen</p>
    </mat-checkbox>
    @if(checkedSelect) {

      <div class="dialog-input">
        <input type="search" 
        [(ngModel)]="username"
        (keyup)="searchService.searchUsersOnly()"
        [(ngModel)]="searchService.searchAll"
        [matAutocomplete]="auto" />

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (result of searchService.searchResultsUsers; track result) {
          <mat-option [value]="result.username">{{ result.username }}</mat-option>
          }
        </mat-autocomplete>



      </div>
    }
  </div>

  <mat-dialog-actions>
    <button class="button-primary" mat-flat-button (click)="selectMembers()">Erstellen</button>
  </mat-dialog-actions>
</section>
