// @import url("../edit-profile-dialog/edit-profile-dialog.component.scss");
// @import url("../../login/login.component.scss");
@import url("../../signup/signup.component.scss");

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 30px 30px 30px;
}

.input-container {
    display: flex;
}

.visibility-icon {
    position: relative;
    left: -22px;

    &:hover {
        cursor: pointer;
    }
}

section {
    width: 500px;
    height: 705px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px;
    overflow: hidden;
}

.login-button {
    align-self: center !important;
}