<section>
  <div>
    <h2 mat-dialog-title>Leute hinzufügen</h2>
    <span class="material-symbols-outlined" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
  </div>

  <div class="user-input">
    <p>
      #
      {{ channel?.name }}
    </p>
    <input
      type="search"
      [(ngModel)]="user"
      (keyup)="searchService.searchUsersOnly()"
      [(ngModel)]="searchService.searchAll"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (result of searchService.searchResultsUsers; track result) {
      <mat-option [value]="result.username">{{ result.username }}</mat-option>
      }
    </mat-autocomplete>
<!-- abfrage ob der user schon zum channel gehoert -->
    <div class="failure-message">
      @if (userNotFound) {
      <p>Es konnte kein Nutzer mit diesem Namen gefunden werden.</p>
      }
      @if (alertMessage) {
        <p>Dieser Nutzer ist bereits in diesem Channel.</p>
        }
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-flat-button (click)="addMember()">Hinzufügen</button>
  </mat-dialog-actions>
</section>
