<section>

  <!-- <router-outlet></router-outlet> -->
  <app-single-message></app-single-message>
  <app-single-channel></app-single-channel>

  <div class="message-box-container">
    <textarea
      name="message"
      placeholder="Nachricht an #Entwicklerteam"
    ></textarea>
    <div class="message-box">
      <div class="message-box-icons">
        <mat-icon>add</mat-icon>
        <span class="vertical-line"></span>
        <mat-icon>mood</mat-icon>
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-icon (click)="sendMessage()">send</mat-icon>
    </div>
  </div>
</section>
