@import url('../signup/signup.component.scss');

form {
    a {
        font-family: 'Figtree';
        font-size: 18px;
        text-decoration: none;
        color: #797EF3;
        align-self: center;
    }

    .divider {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .line {
        flex: 1;
    }

    .text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
}

.google-logo {
    background-image: url('../../assets/img/google_logo.svg');
}

.google-signin {
    text-indent: 0 !important;
    background-size: 38px 38px !important;
    color: #444DF2;

    &:hover {
        cursor: pointer;
    }
}


.logo-modal {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #4589FF;
    animation-name: closeModal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    .logo-container {
        background-image: url('../../assets/img/logo-dabubble.svg');
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 265px;
        height: 323px;
        animation-name: logoAnimation;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
    }
}

@keyframes logoAnimation {
    from {
        background-image: url('../../assets/img/logo-dabubble.svg');
    }

    to {
        width: 100px;
        height: 122px;
        top: 80px;
        left: 77px;
        transform: none;
    }
}

@keyframes closeModal {
    from {
        display: flex;
    }

    to {
        background-color: white;
        display: none;
    }
}

::ng-deep .mat-divider {
    border-top-color: #797EF3 !important;
}