<div class="content-container">
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <mat-card>
        <mat-card-title>Passwort zurücksetzen</mat-card-title>

        <mat-card-content>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                <div class="form-field">
                    <div class="input-container">
                        <input class="background-image password-input" type="password" formControlName="password" placeholder="Neues Passwort" minlength="6">
                    </div>
                    @if (resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.value == '') {
                        <span class="error">Bitte geben Sie ein Passwort ein. Es muss aus mindestens 6 Zeichen bestehen.</span>
                    } @else if (resetPasswordForm.get('password')?.dirty && resetPasswordForm.get('password')?.invalid) {
                        <span class="error">Das Passwort muss aus mindestens 6 Zeichen bestehen.</span>
                    }
                </div>

                <div class="form-field">
                    <div class="input-container">
                        <input class="background-image password-input" type="password" formControlName="passwordConfirm" placeholder="Neues Passwort bestätigen">
                    </div>
                    @if (resetPasswordForm.get('passwordConfirm')?.touched && resetPasswordForm.get('passwordConfirm')?.value == '') {
                        <span class="error">Bitte bestätigen Sie ihr Passwort.</span>
                    } @else if (resetPasswordForm.get('passwordConfirm')?.dirty && resetPasswordForm.get('passwordConfirm')?.value != resetPasswordForm.get('password')?.value) {
                        <span class="error">Die Passwörter müssen übereinstimmen.</span>
                    }
                </div>

                <button class="button-primary" type="submit" [disabled]="resetPasswordForm.invalid"
                    [style.cursor]="resetPasswordForm.invalid ? 'not-allowed' : 'pointer'">Passwort ändern</button>
            </form>
        </mat-card-content>
    </mat-card>

    <button (click)="authService.showCurrentUser()">Show current user</button>
    <button (click)="authService.logout()">Logout</button>
</div>