<section>
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <div class="imprint-container">
        <div class="content-wrapper">
            <a [routerLink]="['']" class="back-arrow"><img src="./assets/img/arrow_back.svg"></a>
            <h2>Datenschutz</h2>
            <span>
                Alicja K 
                Dominik G
            </span>

            <p>Kontakt:</p>
            <span>E-mail:</span>

        </div>
    </div>

</section>

