@import url('../../signup/signup.component.scss');
@import url('../../signup/choose-profile-image/choose-profile-image.component.scss');

p {
    text-align: center;
    font-size: 20px;
    color: #686868;
}

.input-container, .error {
    align-self: center;
}
