<section>
  <div class="chat-header">
    <div class="hearder-content">
      <p>Neue Nachricht</p>
      <input
        type="search"
        placeholder="An: #channel oder @jemand oder E-Mail Adresse"
        (keyup)="onKeyUp($event)"
        [(ngModel)]="searchService.searchAll"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @if (!isUserSearch) {
          @for (result of searchService.searchResults; track result) {
        <mat-option
          [routerLink]="['/general-view/single-channel/' + result.docId]"
          routerLinkActive="router-link-active"
          [value]="result.name"
          >{{ result.name }}
        </mat-option>
          }
        } 
        
        @if (isUserSearch) { 
          @for (result of searchService.searchResultsUsers; track result) {

        <mat-option
          [routerLink]="['/general-view/single-message/' + result.uid]"
          routerLinkActive="router-link-active"
          [value]="[result.username, result.email]" >
          <div class="user-result">
            <p>{{ result.username }}</p>
            <p>{{ result.email }}</p>
          </div>
        </mat-option>
        }}
      </mat-autocomplete>
    </div>
  </div>

  <div class="message-box-container">
    <textarea
      name="message"
      placeholder="Starte eine neue Nachricht"
    ></textarea>
    <div class="message-box">
      <div class="message-box-icons">
        <mat-icon>mood</mat-icon>
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-icon class="send-icon">send</mat-icon>
    </div>
  </div>
</section>
