<section>
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <div class="imprint-container">
        <div class="content-wrapper">
            <a [routerLink]="['']" class="back-arrow"><img src="./assets/img/arrow_back.svg"></a>
            <h2>Impressum</h2>
            <span>
                Verantwortlicher Diensteanbieter gemäß § 5 TMG <br>
                Alicja Kwiaton <br>
                Muster-Str. 123 <br>
                67657 Kaiserslautern
            </span>

            <p>Kontakt:</p>
            <span>E-mail: mail&#64;alicja-kwiaton.de</span>

        </div>
    </div>

</section>
