<section>
  <div class="chat-header">
    <img src="./assets/img/avatar1.svg" alt="">
    <p>Test Dude</p>
    <!-- <img src="{{ user.photoURL }}" />
    <p>{{ user.username }}</p> -->
  </div>


  <div class="message-wrapper">

    <div class="message-content">
      <!-- {{ hier wird eine Nachricht angezeigt}} -->
    </div>

    <div class="message-owner">
      <img src="./assets/img/avatar1.svg" alt="">
      <p>Test Dude</p>
    </div>
    <span>Diese Unterhaltung findet nur zwischen Noah Braun  user.username und dir statt.</span>
  </div>

  <div class="message-box-container">
    <textarea name="message" placeholder="Nachricht an "></textarea>
    <div class="message-box">
      <div class="message-box-icons">
        <mat-icon>add</mat-icon>
        <span class="vertical-line"></span>
        <mat-icon>mood</mat-icon>
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-icon>send</mat-icon>
    </div>
  </div>

  
</section>
