<section>
  <div class="chat-header">
    <div class="hearder-content" (click)="showProfileDialog()">
      <img src="./assets/img/avatar1.svg" alt="">
      <p>Test Dude</p>
      <!-- <img src="{{ user.photoURL }}" />
      <p>{{ user.username }}</p> -->

    </div>
  </div>


  <div class="message-wrapper">

    <div class="message-content">
      <!-- {{ hier wird eine Nachricht angezeigt}} -->
    </div>

    <div class="message-owner" (click)="showProfileDialog()">
      <img src="./assets/img/avatar1.svg" alt="">
      <p>Test Dude</p>
    </div>
    <p>Diese Unterhaltung findet nur zwischen <span (click)="showProfileDialog()">&#64; username</span> und dir statt.</p>
  </div>

  <div class="message-box-container">
    <textarea name="message" placeholder="Nachricht an { user.name } "></textarea>
    <div class="message-box">
      <div class="message-box-icons">
        <mat-icon>add</mat-icon>
        <span class="vertical-line"></span>
        <mat-icon>mood</mat-icon>
        <mat-icon>alternate_email</mat-icon>
      </div>
      <mat-icon>send</mat-icon>
    </div>
  </div>

  
</section>
