section {
  width: 100%;
  height: 100vh;
  background-color: white;
  border-radius: 30px;

  >div:nth-last-child(2) {
    margin-bottom: 380px;
  }
}

#messages-container {
  overflow-y: auto;
}

.chat-header {
  width: 100%;
  height: 110px;
  box-shadow: 0 3px 2px -2px rgb(0, 0, 0, 0.2);
  padding: 32px 45px 20px 45px;

  .hearder-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent;
    gap: 15px;
    border-radius: 30px;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }

    >img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    >p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
  }
}

.message-wrapper {
  margin-left: 40px;

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 16px;

    .line {
      flex: 1;
      border: none;
      border-top: 1px solid #c1c3e2;
    }

    .date {
      border: 1px solid #c1c3e2;
      border-radius: 20px;
      padding: 5px 10px 5px 10px;
      font-size: 18px;
      // white-space: nowrap;
    }
  }

  
  .message-content {
    width: 100%;
    display: flex;

    .single-message-container {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;

      >img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
      }

      .message-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name-time {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          >span {
            font-size: 18px;
            font-weight: 700;
          }

          >p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
          }
        }

        >span {
          background-color: #eceefe;
          border-radius: 0 30px 30px 30px;
          padding: 15px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24.55px;
          text-align: left;
        }

        .answer-time {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          >p {
            font-size: 18px;
            font-weight: 400;
            color: rgba(83, 90, 241, 1);
            line-height: 19px;
            cursor: pointer;

            &:hover {
              color: #535af1;
              font-weight: 800;
            }
          }

          >span {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
            line-height: 19px;
          }
        }
      }
    }
  }
}

.input-wrapper {
  width: 60%;
  // max-width: 40%;
  position: fixed;
  bottom: 12px;
  background: white;
  margin-left: 20px;
  border-radius: 30px;
}

.message-owner-container {
  margin: 12px 45px;

  .message-owner-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    cursor: pointer;

    &:hover {
      color: #535af1;
    }

    >img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    >p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
  }

  >p {
    font-size: 20px;
    font-weight: 400;
    // line-height: 27.28px;
    color: #686868;
    // margin: 20px 0;

    >span {
      color: #535af1;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.message-box-container {
  height: 145px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  margin: 10px 40px;

  >textarea {
    width: 100%;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    resize: none;
  }

  .message-box {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 16px;
    color: #686868;

    .message-box-icons {
      width: 25%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 18px;

      >span {
        border-left: 1px solid #adb0d9;
        height: 40px;
      }
    }

    .send-icon {
      width: 30px;
      color: #444df2;
      cursor: pointer;
    }
  }
}