section {
  width: 100%;
  height: 100vh;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  // alternative: height 60vh und margin verringern; message-box verkleinern
}

#messages-container {
  height: 70vh;
  overflow-y: scroll;

  >div:nth-last-child(1) {
    margin-bottom: 210px;
  }
}

.mobile-container {
  position: sticky;
  left: 0;
  overflow: hidden;
  /* Optional: um überlaufende Inhalte zu verbergen */
}

.chat-header {
  width: 100%;
  height: 110px;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.08);
  padding: 32px 45px 20px 45px;

  .header-content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border-radius: 30px;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }

    >img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    >p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
  }
}

.message-wrapper {
  margin: 0px 40px;

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 16px;

    .line {
      flex: 1;
      border: none;
      border-top: 1px solid #c1c3e2;
    }

    .date {
      border: 1px solid #c1c3e2;
      border-radius: 20px;
      padding: 5px 10px 5px 10px;
      font-size: 18px;
      // white-space: nowrap;
    }
  }

  .message-content {
    width: 100%;
    display: flex;

    .single-message-container {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      cursor: pointer;

      >img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
      }

      .message-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name-time {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          >span {
            font-size: 18px;
            font-weight: 700;
          }

          >p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
          }
        }

        >span {
          background-color: #eceefe;
          border-radius: 0 30px 30px 30px;
          padding: 15px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24.55px;
          text-align: left;
        }

        .answer-time {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          >p {
            font-size: 18px;
            font-weight: 400;
            color: rgba(83, 90, 241, 1);
            line-height: 19px;
            cursor: pointer;

            &:hover {
              color: #535af1;
              font-weight: 800;
            }
          }

          >span {
            font-size: 14px;
            font-weight: 400;
            color: rgba(104, 104, 104, 1);
            line-height: 19px;
          }
        }
      }
    }
  }
}

.input-wrapper {
  width: 60%;
  // max-width: 40%;
  position: fixed;
  bottom: 0px;
  background: white;
  margin-left: 20px;
  border-radius: 30px;
}

.message-owner-container {
  margin: 12px 45px;

  .message-owner-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    cursor: pointer;

    &:hover {
      color: #535af1;
    }

    >img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    >p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
  }

  >p {
    font-size: 20px;
    font-weight: 400;
    // line-height: 27.28px;
    color: #686868;
    // margin: 20px 0;

    >span {
      color: #535af1;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.message-box-container {
  // height: 145px;
  border-radius: 20px;
  border: 1px solid #adb0d9;
  margin: 10px 40px;

  >textarea {
    width: 100%;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    resize: none;
  }

  .message-box {
    height: 40px;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: #686868;

    .message-box-icons {
      width: 25%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 18px;

      >span {
        border-left: 1px solid #adb0d9;
        height: 40px;
      }
    }


    .send-icon {
      width: 30px;
      color: #444df2;
      cursor: pointer;
    }
  }
}

.emoji-container {
  display: flex;
  align-items: center;

  .emoji-button {
    border: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emoji-mart {
    position: absolute;
    bottom: 1vh;
    left: 10%;
  }

  .emoji-button {
    border: none;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    &:hover {
      background-color: #ECEEFE;
    }
  }
}

.mobile-btn-arrow-back {
  display: none;
}

@media only screen and (max-width: 1130px) {
  .input-wrapper {
    margin-left: 15px;
    width: 55%;
    max-width: 55%;
  }
}

@media only screen and (max-width: 895px) {

  .input-wrapper {
    margin-left: 15px;
    width: 50%;
    max-width: 50%;

  }
}

@media only screen and (max-width: 767px) {
  section {
    border-radius: 0px;
  }
  .chat-header {
    height: 78px;
    display: flex;
    align-items: center;
    padding: 10px 16px;

    .header-content {
      height: 58px;
      >p {
        font-size: 20px;
        line-height: 29px;
      }
    }
    .mobile-btn-arrow-back {
      display: block;
    }
  }

  .input-wrapper {
    margin-left: 0;
    width: 95%;
    max-width: 95%;

    .message-owner-container {
      margin: 12px 20px;

      >p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: justify;
      }
    }

    .message-box-container {
      margin: 12px 16px;

      >textarea {
        padding: 8px;
        font-size: 16px;
        line-height: 19.6px;
      }

      .message-box {
        padding: 8px;
      }
    }
  }
}