<section>
  <div class="chat-header">
    <div class="hearder-content" (click)="showProfileDialog(userId)">
      @if(user) {
      <img src="{{ user.photoURL }}" />
      <p>{{ user.username }}</p>
      } @else if(authService.currentUser) {
      <img src="{{ authService.currentUser.photoURL }}" />
      <p>{{ authService.currentUser.displayName }} (Du)</p>
      }
    </div>
  </div>

  @for (conversations of conversationMessages; track $index ) {
  <div class="message-wrapper">
    <div class="divider">
      <hr class="line" />
      <span class="date">{{ conversations.timestamp | date }}</span>
      <hr class="line" />
    </div>

    <div class="message-content">

      <div class="single-message-container">
        <img src="{{ conversations.senderAvatar }}" class="member-avatar" />
        <div class="message-content">
          <div class="name-time">
            <span>{{ conversations.initiatedBy }}</span>
            <p>{{ conversations.timestamp | date:'HH:mm':'CET' }}</p>
          </div>

          <span class="user-message">
            {{ conversations.senderMessage }}

          </span>
          <!-- <div class="answer-time">
            <p>
              {{ conversations.answer }}
            </p>
            <span>
              {{ conversations.lastAnswerTime }}
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  }

  <div class="input-wrapper">
    <div class="message-owner-container" (click)="showProfileDialog(userId)">
      <!-- <div class="message-owner-content">

        @if(user) {
        <img src="{{ user.photoURL }}" />
        <p>{{ user.username }}</p>
        }
      </div> -->

      @if(!isCurrentUser && user) {
      <p>
        Diese Unterhaltung findet nur zwischen

        <span (click)="showProfileDialog(userId)">&#64; {{ user.username }}</span>
        und dir statt.
      </p>
      } @if (isCurrentUser) {
      <p>
        Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine To-dos auf
        oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne
        Dinge mit dir selbst besprechen.
      </p>
      }
    </div>

    <div class="message-box-container">
      @if(conversationMessages && user) {
      <textarea name="message" placeholder="Nachricht an {{ user.username }}" #input
        [(ngModel)]="conversationMessage"></textarea>
        {{ input.focus() }}
      }
      <div class="message-box">
        <div class="message-box-icons">
          <!-- <mat-icon>add</mat-icon>
        <span class="vertical-line"></span> -->
          <mat-icon>mood</mat-icon>
          <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-icon class="send-icon" (click)="createConversation()">send</mat-icon>
      </div>
    </div>
    <div class="error-container-message">
      @if(messageEmpty) {
        <span class="error-message-empty">Bitte gib eine Nachricht ein.</span>
      }
    </div>

  </div>
</section>