<div class="content-container">
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <mat-card>
        <a [routerLink]="['/signup']" class="back-arrow"><img src="./assets/img/arrow_back.svg" alt=""></a>
        <mat-card-title>Wähle deinen Avatar</mat-card-title>

        <mat-card-content>
            @if (profileImg == './assets/img/person.svg') {
                <div class="avatar-frame-big">
                    <img [src]="profileImg" alt="">
                </div>
            } @else {
                <img [src]="profileImg" alt="" class="avatar-image-big">
            }

            @if (formData) {
                <p class="username">{{ formData['username'] }}</p>
            } @else {
                <p class="username">Test</p>
            }

            <p style="align-self: start; font-size: 20px;">Aus der Liste wählen</p>

            <div class="avatars">
                @for (item of avatars; track $index) {
                    <img [src]="item" alt="" class="avatar-image" (click)="changeAvatarImg(item)">
                }
            </div>
        </mat-card-content>

        <button class="button-primary" type="submit" (click)="submit()">Weiter</button>
        <!-- Toast-Message anzeigen, wenn Registrierung erfolgreich war -->

        <div class="test-buttons">
            <button (click)="showFormData()">Show form data</button>
            <button (click)="authService.logout()">Logout</button>
        </div>
    </mat-card>
</div>
