<div class="content-container">
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <mat-card>
        <a [routerLink]="['']" class="back-arrow"><img src="./assets/img/arrow_back.svg" alt=""></a>
        <mat-card-title>Konto erstellen</mat-card-title>
        <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DABubble-Konto.</mat-card-subtitle>

        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <div class="input-container">
                        <!-- <img src="./assets/img/person_filled.svg" alt=""> -->
                        <input type="text" class="background-image name-input" placeholder="Name und Nachname" formControlName="username"
                            [style.color]="registerForm.get('username')?.dirty ? 'black' : '#686868'" #username>
                    </div>
                    @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
                        <span class="error">Bitte geben Sie ihren Namen ein.</span>
                    }
                </div>


                <div class="form-field">
                    <div class="input-container">
                        <!-- <img src="./assets/img/mail.svg" alt=""> -->
                        <input class="background-image mail-input" placeholder="beispielname@email.com" formControlName="email"
                            [style.color]="registerForm.get('email')?.dirty ? 'black' : '#686868'">
                    </div>
                    @if (registerForm.get('email')?.invalid && registerForm.get('email')?.dirty) {
                        <span class="error">Diese E-Mail-Adresse ist leider ungültig.</span>
                    } @else if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                        <span class="error">Bitte geben Sie eine E-Mail-Adresse ein.</span>
                    }
                </div>
                <!-- Fehlermeldung anzeigen, falls schon ein Account mit der Emailadresse existiert -->

                <div class="form-field">
                    <div class="input-container">
                        <!-- <img src="./assets/img/lock.svg" alt=""> -->
                        <input class="background-image password-input" type="password" formControlName="password" placeholder="Passwort" #password>
                    </div>
                    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched && !registerForm.get('password')?.dirty) {
                        <span class="error">Bitte geben Sie ein Passwort ein. Es muss aus mindestens 6 Zeichen bestehen.</span>
                    } @else if (registerForm.get('password')?.dirty && registerForm.get('password')?.invalid) {
                        <span class="error">Das Passwort muss aus mindestens 6 Zeichen bestehen.</span>
                    }
                </div>
                <!-- Fehlermeldung anzeigen, wenn das Passwort zu schwach ist -->
                <div class="privacy-policy">
                    <input type="checkbox" class="checkbox" [formControl]="checkbox">
                    <span>Ich stimme der <a href="#">Datenschutzerklärung</a> zu.</span>
                </div>

                <button class="button-primary" type="submit" [disabled]="registerForm.invalid || checkbox.invalid"
                    [style.cursor]="registerForm.invalid || checkbox.invalid ? 'not-allowed' : 'pointer'">Weiter</button>
            </form>
        </mat-card-content>
    </mat-card>

    <button (click)="authService.showCurrentUser()">Show current user</button>
    <button (click)="authService.logout()">Logout</button>
</div>