<div class="signup-container">
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <mat-card>
        <a [routerLink]="['']"><img src="./assets/img/arrow_back.svg" alt=""></a>
        <mat-card-title>Konto erstellen</mat-card-title>
        <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DABubble-Konto.</mat-card-subtitle>

        <mat-card-content>
            <form>
                <input type="text" placeholder="Name und Nachname" [(ngModel)]="user.username" name="username">
                
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()"
                        required [(ngModel)]="user.email" name="email">
                    @if (email.invalid) {
                    <mat-error>{{errorMessage}}</mat-error>
                    }
                </mat-form-field>
                <!-- Fehlermeldung anzeigen, falls schon ein Account mit der Emailadresse existiert -->

                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <!-- Fehlermeldung anzeigen, wenn das Passwort zu schwach ist -->
                <input type="submit" (click)="registerUser()">
                <!-- Toast-Message anzeigen, wenn Registrierung erfolgreich war -->
            </form>
        </mat-card-content>
    </mat-card>

    <button (click)="authService.showCurrentUser()">Show current user</button>
    <button (click)="authService.logout()">Logout</button>
</div>