// dynamic width for input field: width: clamp(360px,309.09px + 15.91vw,500px);

.content-container {
    padding: 75px 75px 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .head {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        align-self: flex-start;
    }
}

mat-card {
    padding: 40px;
    border-radius: 30px;
    align-items: center;
    gap: 32px;
    max-width: 700px;
    max-height: 700px;

    .back-arrow {
        position: absolute;
        left: 32px;
        top: 45px;
    }

    mat-card-title {
        font-family: "Nunito";
        font-weight: 700;
        color: #444DF2;
        font-size: 46px;
        text-align: center;
    }

    mat-card-subtitle {
        font-family: "Nunito";
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        color: black;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 48px;

        .form-field {
            display: flex;
            flex-direction: column;
            height: 60px;
        }

        input {
            width: clamp(360px,309.09px + 15.91vw,500px);
            height: 60px;
            padding: 18px 32px;
            text-indent: 48px;
            font-size: 18px;
            font-weight: 500;
            background-color: #ECEEFE;
            // use border transparent, else the text in the inputfield will be moved on hover due to the added border
            border: 1px solid transparent;
            border-radius: 100px;
            // outline: none is needed here, because when the element is focussed, the User Agent (browser) by default sets an outline.
            // So, to prevent it, we need to override it
            outline: none;

            &:hover {
                border: 1px solid #686868;
            }

            &:focus-visible {
                border: 1px solid #535AF1;
                color: black;
            }
        }

        .background-image {
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 24px;
            background-size: 24px 24px;
        }

        .name-input {
            background-image: url('../../assets/img/person_filled.svg');

        }

        .mail-input {
            background-image: url('../../assets/img/mail.svg');
        }

        .password-input {
            background-image: url('../../assets/img/lock.svg');
        }

        .error {
            font-family: "Nunito";
            color: #ED1E79;
            width: clamp(360px,309.09px + 15.91vw,500px);
        }

        .privacy-policy {
            display: flex;
            align-items: center;
            height: 32px;
            font-size: 16px;
            gap: 8px;

            .checkbox {
                width: 24px;
                height: 24px;
            }
        }

        button {
            width: fit-content;
            align-self: end;
        }
    }
}