<div class="signup-container">
    <div class="head">
        <img src="./assets/img/logo-dabubble.svg" alt="">
    </div>

    <mat-card>
        <a [routerLink]="['']"><img src="./assets/img/arrow_back.svg" alt=""></a>
        <mat-card-title>Konto erstellen</mat-card-title>
        <mat-card-subtitle>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DABubble-Konto.</mat-card-subtitle>

        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <div class="input-container">
                        <img src="./assets/img/person_filled.svg" alt="">
                        <input type="text" placeholder="Name und Nachname" formControlName="username">
                    </div>
                </div>
                

                <div class="form-field">
                    <div class="input-container">
                        <img src="./assets/img/mail.svg" alt="">
                        <input placeholder="beispielname@email.com" formControlName="email">
                    </div>
                    @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)) {
                        <span class="error">Diese E-Mail-Adresse ist leider ungültig.</span>
                    }
                </div>
                <!-- Fehlermeldung anzeigen, falls schon ein Account mit der Emailadresse existiert -->

                <div class="form-field">
                    <div class="input-container">
                        <img src="./assets/img/lock.svg" alt="">
                        <input type="password" formControlName="password" placeholder="Passwort">
                    </div>
                </div>
                <!-- Fehlermeldung anzeigen, wenn das Passwort zu schwach ist -->

                <input type="submit" [disabled]="registerForm.invalid">
                <!-- Toast-Message anzeigen, wenn Registrierung erfolgreich war -->
            </form>
        </mat-card-content>
    </mat-card>

    <button (click)="authService.showCurrentUser()">Show current user</button>
    <button (click)="authService.logout()">Logout</button>
</div>