<div class="side-nav">
  <div class="side-nav-header">
    <div class="header-left-side">
      <img class="workspace-logo" src="./assets/img/Workspace logo.svg" />
      <p>Devspace</p>
    </div>
    <span class="material-symbols-outlined edit-icon">
      <mat-icon [routerLink]="['channel-list/']" routerLinkActive="router-link-active">edit_square</mat-icon>
    </span>
  </div>

  <div class="channels-container">
    <div class="left-side">
      <mat-icon (click)="openChannelList()">arrow_drop_down</mat-icon>
      <div class="channels-headline">
        <mat-icon>workspaces</mat-icon>
        <p>Channels</p>
      </div>
    </div>
    <mat-icon class="add-channel-icon" (click)="addChannelDialog()"
      >add</mat-icon
    >
  </div>
  @if (!isChannelListHidden) {

  <div class="dropdown-content">
    <div class="new-channel-container">
      @for (channel of channelService.channels; track channel.docId) {
        <p [routerLink]="['single-channel/'+ channel.docId]" [state]="{id: channel.docId}" routerLinkActive="active"><mat-icon>tag</mat-icon>{{ channel.name }}</p>
      }
    </div>

    <div class="add-channel" (click)="addChannelDialog()">
      <mat-icon class="material-icons-outlined">add_circle</mat-icon>
      <p>Channel hinzufügen</p>
    </div>
  </div>
  }

  <div class="channels-container">
    <div class="left-side">
      <mat-icon (click)="openMemberList()">arrow_drop_down</mat-icon>

      <div class="channels-headline">
        <mat-icon>account_circle</mat-icon>
        <p>Direktnachrichten</p>
      </div>
    </div>
  </div>
  @if (!isMemberListHidden) {
  <app-users> User List </app-users>
  }
</div>
