<div class="side-nav">
  <div class="side-nav-header">
    <div class="header-left-side">
      <img class="workspace-logo" src="./assets/img/Workspace logo.svg" />
      <p>Devspace</p>

    </div>
    <span class="material-symbols-outlined edit-icon">
      <mat-icon>edit_square</mat-icon>
      </span>
  </div>


  <div class="channels-container">
    <div class="left-side" >
  
      <img class="channels-arrow" src="./assets/img/arrow-dropdown.svg" onmouseover="this.src='./assets/img/arrow-dropdown-hover.svg'" onmouseout="this.src='./assets/img/arrow-dropdown.svg'" >
      <div class="channels-headline">
        <img src="./assets/img/channels.svg" onmouseover="this.src='./assets/img/channels-hover.svg'" onmouseout="this.src='./assets/img/channels.svg'">
        <p>Channels</p>
      </div>
    </div>
    <img class="add-channel-icon" src="./assets/img/plus-icon.svg"  onmouseover="this.src='./assets/img/plus-hover.svg'" onmouseout="this.src='./assets/img/plus-icon.svg'">
    
  </div>
  
  <app-channel-list>
    channels 
  </app-channel-list>

  <div class="channels-container">
    <div class="left-side">
      <img src="./assets/img/arrow-dropdown.svg" onmouseover="this.src='./assets/img/arrow-dropdown-hover.svg'" onmouseout="this.src='./assets/img/arrow-dropdown.svg'">
      <div class="channels-headline">
        <img src="./assets/img/account-circle.svg" onmouseover="this.src='./assets/img/account-circle-hover.svg'" onmouseout="this.src='./assets/img/account-circle.svg'" alt="">
        <p>Direktnachrichten</p>
      </div>
    </div>
  
    
  </div>

  <app-users>
    User List
  </app-users>

</div>
