.side-nav {
  padding: 32px 30px 32px 30px;
}
.side-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .header-left-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    > p {
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
      text-align: left;
    }
    .workspace-logo {
      height: 60px;
      width: 60px;
    }
  }
  .edit-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #535af1;
      background-color: #eceefe;
    }
  }
}

.channels-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 0px 3px 0px;

  .left-side {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    &:hover {
      color: #535af1;
      cursor: pointer;
    }
  }

  .channels-headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    > p {
      font-size: 20px;
      font-weight: 700;
      line-height: 27.28px;
      text-align: right;
      &:hover {
        color: rgba(83, 90, 241, 1);
      }
    }
  }
}

.add-channel-icon {
  width: 24px;
  height: 24px;
  &:hover {
    cursor: pointer;
    color: #535af1;
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.dropdown-content {
  width: 306px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 30px;
  margin: 25px 0px;
  > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}
.add-channel {
  width: 306px;
  height: 33px;
  padding: 4px 10px 4px 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  &:hover {
    color: #535af1;
  }
}
.team-container {
  padding: 4px 10px 4px 10px;
  width: 201px;
  height: 33px;
  border-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  &:hover {
    color: #535af1;
    background-color: #eceefe;
  }
}
