<div class="side-nav">
  <div class="side-nav-header">
    <img class="workspace-logo" src="./assets/img/Workspace logo.svg" />
    <p>Devspace</p>
    <img class="edit-icon" src="./assets/img/edit_square.svg" />
  </div>


  <div class="channels-container">
    <div class="left-side">
      <img src="./assets/img/arrow-down.svg" alt="">
      <div class="channels-headline">
        <img src="./assets/img/channels.svg" alt="">
        <p>Channels</p>
      </div>
    </div>
    <img src="./assets/img/plus-icon.svg" alt="">
    
  </div>
  
  <app-channel-list>
    channels 
  </app-channel-list>


</div>
