@if (dataLoaded) {
<section>
  <div class="thread-header">
    <div class="left-side">
      <p>Thread</p>
      <mat-icon>tag</mat-icon>
      <span>
        {{ channelName }}
      </span>
    </div>

    <mat-icon (click)="closeThread()">close</mat-icon>
  </div>

  <div class="messages-container">
    <div class="divider">
      <hr class="line" />
      <span class="date">{{ message.timestamp | date }}</span>
      <hr class="line" />
    </div>
    <div class="message-wrapper">
      <div class="single-message-container">
        <img src="{{ message.userAvatar }}" class="member-avatar" />
        <div class="message-content">
          <div class="name-time">
            <span>{{ message.userName }}</span>
            <p>{{ message.timestamp | date : "HH:mm" : "CET" }}</p>
          </div>

          <span class="user-message">
            {{ message.userMessage }}
          </span>
        </div>
      </div>
    </div>

    <div class="divider">
      <span class="number-of-answers">
        {{ message.answers.length }} Antwort(en)
      </span>
      <hr class="line" />
    </div>

    @for (answer of message.answers; track $index) {
    <div class="divider">
      <hr class="line" />
      @if(isDifferentDay($index)) {
      <span class="date">{{ answer.timestamp | date }}</span>
      }
      <hr class="line" />
    </div>
    <div class="message-wrapper">
      <div class="single-message-container">
        <img src="{{ answer.userAvatar }}" class="member-avatar" />
        <div class="message-content">
          <div class="name-time">
            <span>{{ answer.userName }}</span>
            <p>{{ answer.timestamp | date : "HH:mm" : "CET" }}</p>
          </div>

          <span class="user-message">
            {{ answer.userMessage }}
          </span>

          <div class="reactions">
            <div class="show-emoji-reactions">
              @if (answer.emojiReactions !== undefined || answer.emojiReactions !== []) {
                @for (emoji of answer.emojiReactions; track $index) {
                <div class="emoji-reaction" matTooltip="{{ emoji.users.join(', ') }}">{{ emoji.emoji + emoji.counter }}</div>
                }
              }
            </div>

            <div class="add-emoji-container" #emojiPickerReaction (click)="onClickInside($event)">
              <button class="emoji-button" (click)="toggleEmojiPickerReaction(message.answers.indexOf(answer))">
                <img src="./assets/img/add_reaction.svg" />
              </button>
              <emoji-mart class="emoji-mart reaction-emojis" set="twitter"
                *ngIf="showEmojiPickerReaction.get(message.answers.indexOf(answer))"
                (emojiSelect)="addEmojiReaction($event, messageId, $index)" title="Pick your emoji…"></emoji-mart>
            </div>

            @if(answer.userName === currentUser.displayName) {
            <div class="edit-wrapper" (click)="editMessage(answer)">
              <mat-icon>edit</mat-icon>
              @if(edited) {
              <p class="edited">(Bearbeitet)</p>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="message-box-wrapper">
    <div class="message-box-container">
      <textarea *ngIf="isEditing" name="message" placeholder="Bearbeiten..." [(ngModel)]="editText"></textarea>
      <textarea *ngIf="!isEditing" name="message" placeholder="Antworten..." [(ngModel)]="answer"></textarea>

      <div class="message-box">
        <div class="message-box-icons">
          <div class="add-emoji-container" #emojiPicker (click)="onClickInside($event)">
            <button class="emoji-button" (click)="toggleEmojiPicker()">
              <img src="./assets/img/add_reaction.svg" />
            </button>
            <emoji-mart class="emoji-mart message-emojis" set="twitter" *ngIf="showEmojiPicker"
              (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
          </div>
        </div>
        <mat-icon class="send-icon" (click)="addAnswer()">send</mat-icon>
      </div>
    </div>
  </div>
</section>
}