<section>
    <div>
      <h2 mat-dialog-title>Channel erstellen</h2>
      <span class="material-symbols-outlined" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </span>
    </div>
  <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</span>
      <p>Channel-Name</p>
      <input type="text" />

      <p>Beschreibung</p>
      <span>(optional)</span>
      <input type="text" />
  
    <mat-dialog-actions>
      <button mat-flat-button>Erstellen</button>
    </mat-dialog-actions>
  </section>
