<section>
  <div class="dialog-header">
    <h2 mat-dialog-title>Channel erstellen</h2>
    <span class="material-symbols-outlined" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </span>
  </div>



  <div class="dialog-content">
    <span>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.</span>

      <div class="dialog-input">

        <p>Channel-Name</p>
        <input type="text" placeholder="# z.B. Kooperationsprojekte" [(ngModel)]="name" name="channel" (click)="clearAlertMessage()" />
        @if(alertMessage) {
          <p class="failure-message">Dieser Name ist bereits vergeben</p>
        }
      </div>

      <div class="dialog-input">

        <p>Beschreibung <em>(optional)</em></p>
        <input type="text" placeholder="Dein Text hier" [(ngModel)]="description" name="description"/>
      </div>
  </div>


  <mat-dialog-actions>
    <button (click)="addChannel()" class="button-primary" mat-flat-button>Erstellen</button>
  </mat-dialog-actions>

</section>
